body{
  background-color: #d36c65;
}
.row{
  margin-left: 20px;
  margin-right: 20px;
}
.search-box button{
  padding: 15px 0;
  background-color:black;
  border: none;
  outline: none;
  color:#d36c65;
  border-radius: 6px;
  width: 150px;

}
.search-box input{
  padding: 15px 0;
  background-color:white;
  border: none;
  outline: none;
  color:#d36c65;
  border-radius: 10px;
  width: 350px;
}